In [249]:
import pandas as pd
import numpy as np

In [334]:
df=pd.read_csv('dataset.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (1,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [251]:
df.head(2)

,id,name,asins,brand,categories,keys,manufacturer,reviews.date,reviews.dateAdded,reviews.dateSeen,...,reviews.doRecommend,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username
0,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,This product so far has not disappointed. My c...,Kindle,NaN,NaN,Adapter
1,AVqkIhwDv8e3D1O-lebb,"All-New Fire HD 8 Tablet, 8 HD Display, Wi-Fi,...",B01AHB9CN2,Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...","841667104676,amazon/53004484,amazon/b01ahb9cn2...",Amazon,2017-01-13T00:00:00.000Z,2017-07-03T23:33:15Z,"2017-06-07T09:04:00.000Z,2017-04-30T00:45:00.000Z",...,True,NaN,0.0,5.0,http://reviews.bestbuy.com/3545/5620406/review...,great for beginner or experienced person. Boug...,very fast,NaN,NaN,truman

In [252]:
df1=df[['id','asins','reviews.text','reviews.title']].copy()

In [253]:
df1=df[['id','asins','reviews.text','reviews.title']].copy()
df1=df1.rename(columns={"reviews.text":"reviews_text","reviews.title":"reviews_title"})
df1.head(2)

,id,asins,reviews_text,reviews_title
0,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,This product so far has not disappointed. My c...,Kindle
1,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,great for beginner or experienced person. Boug...,very fast

In [254]:
np.size(df1)

138640

In [255]:
import math
from nltk import sent_tokenize, word_tokenize, PorterStemmer
from nltk.corpus import stopwords   
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [256]:
# df1[['reviews.txt']]
#fectching reviews text column
df1[df1.columns[2]]

0        This product so far has not disappointed. My c...
1        great for beginner or experienced person. Boug...
2        Inexpensive tablet for him to use and learn on...
3        I've had my Fire HD 8 two weeks now and I love...
4        I bought this for my grand daughter when she c...
                               ...
34655    This is not appreciably faster than any other ...
34656    Amazon should include this charger with the Ki...
34657    Love my Kindle Fire but I am really disappoint...
34658    I was surprised to find it did not come with a...
34659    to spite the fact that i have nothing but good...
Name: reviews_text, Length: 34660, dtype: object

In [257]:
# symbols = "!\"#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
# dataClean = data['description']
# dataClean = dataClean.str.translate({ord(symbol):"" for symbol in symbols})

In [258]:
df1.head(4)

,id,asins,reviews_text,reviews_title
0,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,This product so far has not disappointed. My c...,Kindle
1,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,great for beginner or experienced person. Boug...,very fast
2,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,Inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.
3,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,I've had my Fire HD 8 two weeks now and I love...,Good!!!

In [259]:
# df1['reviews_text']=np.char.lower(df1['reviews_text'].to_string())
df1['reviews_text']=np.char.lower(df1['reviews_text'].values.astype(str))
df1.head(4)

,id,asins,reviews_text,reviews_title
0,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,this product so far has not disappointed. my c...,Kindle
1,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,great for beginner or experienced person. boug...,very fast
2,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,inexpensive tablet for him to use and learn on...,Beginner tablet for our 9 year old son.
3,AVqkIhwDv8e3D1O-lebb,B01AHB9CN2,i've had my fire hd 8 two weeks now and i love...,Good!!!

In [260]:
"""
DOwnloadig stop words
"""
import nltk
nltk.download('stopwords')
# ---------------------------------
print(stopwords.words('english'))
stop_words=stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [261]:
len(df1)
df1.iloc[2,2]

'inexpensive tablet for him to use and learn on, step up from the nabi. he was thrilled with it, learn how to skype on it already...'

In [262]:
# for i in range(0,4):
#   new_text = ""
#   for word in df1.iloc[i,2].replace('\'',' ').split():
#     print(word)

In [263]:
# for i in range(0,len(df1)):
for i in range(0,len(df1)):
  new_text = ""
  '''took care of both: stop words and apostrephe using split on (') then adding again'''
  for word in df1.iloc[i,2].replace('\'',' ').split():
    if word not in stop_words:
        new_text = new_text + " " + word
    # else:
      # print(word)
  df1.iloc[i,2]=new_text

In [268]:
df1['reviews_text']

0         product far disappointed children love use li...
1         great beginner experienced person bought gift...
2         inexpensive tablet use learn on, step nabi th...
3         fire hd eight two weeks love it tablet great ...
4         bought grand daughter comes visit set user, e...
                               ...
34655     appreciably faster one eight higher amp charg...
34656     amazon include charger kindle fact charging u...
34657     love kindle fire really disappointed kindle p...
34658     surprised find come type charging cords purch...
34659     spite fact nothing good things say amazon ant...
Name: reviews_text, Length: 34660, dtype: object

In [267]:
#num to words
# !pip install num2words
from num2words import num2words
# num2words(4.3) ---> o/ps four point three

# converting numbers to digits
for i in range(0,len(df1)):
  new_text = ""
  for word in df1.iloc[i,2].replace('.',' ').split():
    if word.isdigit():
      # print(word)
      new_text = new_text + " " + num2words(word)
    else:
      new_text = new_text + " " + word
  df1.iloc[i,2]=new_text

In [269]:
'''checking if numbers got converted'''
# print(df1['reviews_text'][0:20])

'''cross validation--> 0 records, hence success'''
for i in range(0,len(df1)):
  new_text = ""
  for word in df1.iloc[i,2].replace('.',' ').split():
    if word.isdigit():
      print(word)

In [270]:
symbols = "!\",#$%&()*+-./:;<=>?@[\]^_`{|}~\n"
for i in symbols:
    # data = np.char.replace(data, i, ' ')
    df1['reviews_text']=np.char.replace(df1['reviews_text'].values.astype(str),i,' ')

In [271]:
df1['reviews_text']

0         product far disappointed children love use li...
1         great beginner experienced person bought gift...
2         inexpensive tablet use learn on  step nabi th...
3         fire hd eight two weeks love it tablet great ...
4         bought grand daughter comes visit set user  e...
                               ...
34655     appreciably faster one eight higher amp charg...
34656     amazon include charger kindle fact charging u...
34657     love kindle fire really disappointed kindle p...
34658     surprised find come type charging cords purch...
34659     spite fact nothing good things say amazon ant...
Name: reviews_text, Length: 34660, dtype: object

In [273]:
#neglecting 1-length words
for i in range(0,len(df1)):
  new_text = ""
  for word in df1.iloc[i,2].replace('\'',' ').split():
    if len(word)> 1:
      new_text = new_text + " " + word
  df1.iloc[i,2]=new_text

In [274]:
df1['reviews_text']

0         product far disappointed children love use li...
1         great beginner experienced person bought gift...
2         inexpensive tablet use learn on step nabi thr...
3         fire hd eight two weeks love it tablet great ...
4         bought grand daughter comes visit set user en...
                               ...
34655     appreciably faster one eight higher amp charg...
34656     amazon include charger kindle fact charging u...
34657     love kindle fire really disappointed kindle p...
34658     surprised find come type charging cords purch...
34659     spite fact nothing good things say amazon ant...
Name: reviews_text, Length: 34660, dtype: object

In [275]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [277]:
'''
Only performing stemming.
If Lemmatisation to be performed, will be performmed before Stemming
'''

from nltk.stem.snowball import SnowballStemmer
from nltk.stem import WordNetLemmatizer


# The Snowball Stemmer given ENGLISH lagunage as medium-type
s_stemmer = SnowballStemmer(language='english')
lemmatizer = WordNetLemmatizer()

In [279]:
#neglecting 1-length words
for i in range(0,len(df1)):
  new_text = ""
  for word in df1.iloc[i,2].replace('\'',' ').split():
    # new_text = new_text + " " + s_stemmer.stem(lemmatizer.lemmatize(word)) 
    '''First Lemmatization then, Stemming--- this caused issues in the final result , so moved to lemma-tization only'''
    new_text = new_text + " " + s_stemmer.stem(lemmatizer.lemmatize(word)) 
    # print(word+' --> '+s_stemmer.stem(lemmatizer.lemmatize(word)))
  df1.iloc[i,2]=new_text

In [280]:
''''drop any NAN values in review_text'''
df1.dropna(subset=['reviews_text'], inplace=True)

In [281]:
corpora = df1['reviews_text'].to_list()

In [282]:
from sklearn.feature_extraction.text import TfidfVectorizer
#load a set of stop words
# stopwords=get_stopwords_list(STOPWORD_PATH)

# Initializing TF-IDF Vectorizer with stopwords
vectorizer = TfidfVectorizer(stop_words=stopwords.words('english'), smooth_idf=True, use_idf=True)

# Creating vocab with our corpora
# Exlcluding first 10 docs for testing purpose
vectorizer.fit_transform(corpora[10::])

# Storing vocab
feature_names = vectorizer.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [283]:
feature_names

['00',
 '000',
 '000s',
 '01',
 '05',
 '06',
 '0ff',
 '0ghz',
 '0ne',
 '10',
 '100',
 '1000',
 '1000ma',
 '1005',
 '100m',
 '100mbps',
 '100x',
 '1024x600',
 '105',
 '107',
 '108',
 '1080p',
 '10and',
 '10in',
 '10it',
 '10k',
 '10t',
 '10th',
 '10w',
 '10x',
 '10yr',
 '11',
 '110',
 '119',
 '11yr',
 '12',
 '120',
 '1200',
 '120v',
 '122',
 '125',
 '1275',
 '128gb',
 '129',
 '1299',
 '12gb',
 '12hr',
 '12mpb',
 '12th',
 '12yr',
 '13',
 '130',
 '139',
 '13th',
 '13yr',
 '14',
 '140',
 '1400',
 '149',
 '14yo',
 '14yr',
 '15',
 '150',
 '1500',
 '159',
 '15mbps',
 '15min',
 '15yr',
 '16',
 '160',
 '165',
 '16g',
 '16gb',
 '16love',
 '16th',
 '16yr',
 '17',
 '179',
 '17th',
 '18',
 '180',
 '182',
 '189ppi',
 '190',
 '1960',
 '1984',
 '199',
 '1a',
 '1each',
 '1gb',
 '1ghz',
 '1m',
 '1mobil',
 '1of',
 '1st',
 '1thing',
 '1week',
 '1yo',
 '1yr',
 '20',
 '200',
 '200gb',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2014hi',
 '2015',
 '2016',
 '2017',
 '209',
 '2093',
 '20gb',
 '20x',
 '2107',
 '212',
 '212ppi',
 '219',
 '21st',
 '22',
 '220',
 '22nd',
 '24',
 '240gb',
 '240v',
 '25',
 '250',
 '25mbps',
 '25mgb',
 '26',
 '26g',
 '270',
 '28',
 '289',
 '28on',
 '29',
 '290',
 '29th',
 '2also',
 '2day',
 '2gb',
 '2hrs',
 '2k',
 '2m',
 '2nd',
 '2thumb',
 '2x',
 '2y',
 '2year',
 '2yo',
 '2yr',
 '30',
 '300',
 '3000',
 '300dpi',
 '300ppi',
 '30am',
 '30day',
 '30fps',
 '30hz',
 '30sec',
 '30yr',
 '310',
 '32',
 '32g',
 '32gb',
 '32gig',
 '32mb',
 '33',
 '34',
 '35',
 '350',
 '36',
 '375',
 '37th',
 '38',
 '39',
 '3d',
 '3g',
 '3gave',
 '3gb',
 '3m',
 '3mb',
 '3mbps',
 '3rd',
 '3stream',
 '3t',
 '3week',
 '3x',
 '3yo',
 '3yr',
 '40',
 '400',
 '4000k',
 '400so',
 '40x',
 '42',
 '44',
 '45',
 '450',
 '46',
 '48',
 '49',
 '4g',
 '4gb',
 '4ghz',
 '4k',
 '4ktv',
 '4more',
 '4out',
 '4star',
 '4t',
 '4th',
 '4x',
 '4yo',
 '4yr',
 '50',
 '500',
 '500ish',
 '500ma',
 '50lbs',
 '50mbps',
 '512mb',
 '53',
 '54',
 '540',
 '55',
 '56',
 '58',
 '59',
 '5ft',
 '5g',
 '5gb',
 '5ghz',
 '5h',
 '5min',
 '5mm',
 '5star',
 '5th',
 '5v',
 '5w',
 '5x',
 '5year',
 '5yo',
 '5yr',
 '60',
 '600',
 '600mm',
 '60fps',
 '60in',
 '63',
 '63rd',
 '64',
 '64g',
 '64gb',
 '64gig',
 '64kb',
 '64x',
 '65',
 '65mbps',
 '69',
 '691121',
 '6gb',
 '6hour',
 '6hr',
 '6kindl',
 '6th',
 '6week',
 '6x',
 '6year',
 '6yr',
 '70',
 '700',
 '720p',
 '72gb',
 '75',
 '750',
 '75th',
 '76',
 '768',
 '78',
 '79',
 '7in',
 '7inch',
 '7tablet',
 '7th',
 '7year',
 '7yo',
 '7yr',
 '80',
 '800',
 '800223005180',
 '80mps',
 '80th',
 '80yr',
 '83',
 '84',
 '85',
 '85yr',
 '86',
 '88',
 '89',
 '8g',
 '8gb',
 '8gig',
 '8h',
 '8hd',
 '8hr',
 '8in',
 '8mm',
 '8month',
 '8th',
 '8y',
 '8year',
 '8yo',
 '8yr',
 '90',
 '91',
 '95',
 '98',
 '99',
 '9hour',
 '9in',
 '9th',
 '9w',
 '9yo',
 '9yr',
 'a6',
 'a7',
 'aa',
 'aaa',
 'aamazon',
 'aand',
 'abandon',
 'abc',
 'abcmous',
 'abd',
 'abil',
 'abilti',
 'abit',
 'abk',
 'abl',
 'abnorm',
 'abod',
 'abook',
 'abort',
 'abound',
 'abount',
 'aboutjust',
 'abov',
 'abroad',
 'abrupt',
 'absenc',
 'absofb',
 'absoluit',
 'absolut',
 'absorb',
 'absoutley',
 'abt',
 'abund',
 'abus',
 'abysm',
 'ac',
 'academ',
 'acc',
 'acced',
 'acceler',
 'acceleromet',
 'accent',
 'accept',
 'acceri',
 'acces',
 'accesori',
 'access',
 'accessbl',
 'accessori',
 'accid',
 'accident',
 'accidentlli',
 'acclim',
 'accommod',
 'accomod',
 'accompani',
 'accomplish',
 'accord',
 'account',
 'acct',
 'accumul',
 'accupi',
 'accur',
 'accuraci',
 'accurr',
 'accustom',
 'ace',
 'acer',
 'achat',
 'acheiv',
 'achi',
 'achiev',
 'acknowledg',
 'acord',
 'acorn',
 'acoust',
 'acquaint',
 'acquir',
 'acquisit',
 'acrobat',
 'across',
 'act',
 'action',
 'activ',
 'activit',
 'actor',
 'actress',
 'actual',
 'acur',
 'ad',
 'adag',
 'adapt',
 'adaptor',
 'adaqu',
 'adb',
 'add',
 'addabl',
 'addedand',
 'addict',
 'addit',
 'additon',
 'addon',
 'address',
 'addtion',
 'addtoo',
 'adequ',
 'adfter',
 'adhd',
 'adjac',
 'adjoin',
 'adjunct',
 'adjust',
 'admin',
 'administr',
 'admir',
 'admiss',
 'admit',
 'adob',
 'adolesc',
 'adopt',
 'adoptor',
 'ador',
 'adriod',
 'adroid',
 'ads2',
 'adt',
 'adult',
 'adulthood',
 'adultsa',
 'aduqu',
 'adust',
 'advanc',
 'advantag',
 'advantagefor',
 'advent',
 'adventur',
 'advers',
 'advert',
 'adverti',
 'advertis',
 'advertisedsound',
 'advic',
 'advirt',
 'advis',
 'advisor',
 'advoc',
 'adwar',
 'aesthet',
 'aethet',
 'af',
 'afar',
 'affect',
 'affor',
 'afforad',
 'afford',
 'affordablesd',
 'affort',
 'aficionado',
 'aford',
 'aforedabul',
 'aforement',
 'afraid',
 'african',
 'aft',
 'afterb',
 'aftermarket',
 'afternoon',
 'afterward',
 'aftv',
 'againhav',
 'age',
 'agent',
 'ager',
 'aggrav',
 'aggriv',
 'agian',
 'agil',
 'agnost',
 'ago',
 'agood',
 'agoura',
 'agre',
 'agreat',
 'agreement',
 'aguilera',
 'ah',
 'ahe',
 'ahead',
 'ahem',
 'ahol',
 'ahold',
 'ahs8n',
 'ahÃ­',
 'ai',
 'aid',
 'aiden',
 'aidiobook',
 'ail',
 'aim',
 'aint',
 'air',
 'air2',
 'airfar',
 'airlin',
 'airplan',
 'airplay',
 'airport',
 'aka',
 'aker',
 'akward',
 'al',
 'ala',
 'alarm',
 'alaska',
 'alaxa',
 'albeit',
 'album',
 'aldut',
 'ale',
 'alea',
 'alek',
 'alert',
 'alertan',
 'alessa',
 'alex',
 'alexa',
 'alexacan',
 'alexand',
 'alexath',
 'alexi',
 'alexia',
 'alexsa',
 'alexus',
 'alezxa',
 'algebra',
 'algorithm',
 'alien',
 'alight',
 'align',
 'alik',
 'alittl',
 'aliv',
 'aliza',
 'alleg',
 'allevi',
 'alley',
 'allhav',
 'alli',
 'allllll',
 'alllow',
 'alloc',
 'allot',
 'allow',
 'allth',
 'allthough',
 'alltim',
 'almanac',
 'almost',
 'alon',
 'along',
 'alongsid',
 'alongst',
 'alot',
 'aloud',
 'alphabet',
 'alread',
 'alreadi',
 'alright',
 'also',
 'alsom',
 'alt',
 'alter',
 'alterior',
 'altern',
 'alternatv',
 'altho',
 'although',
 'althought',
 'altogeth',
 'aluminum',
 'alurek',
 'alway',
 'alwya',
 'alzheim',
 'amaaz',
 'amaon',
 'amarion',
 'amason',
 'amat',
 'amateur',
 'amax',
 'amaxom',
 'amaxon',
 'amaxzon',
 'amaz',
 'amazan',
 'amazin',
 'amazing',
 'amazion',
 'amazn',
 'amazom',
 'amazon',
 'amazonbas',
 'amazonfir',
 'amazonprim',
 'amazonproduct',
 'amazontv',
 'ambient',
 'ambival',
 'amc',
 'amd',
 'america',
 'american',
 'ami',
 'amizon',
 'amnazon',
 'among',
 'amongst',
 'amonth',
 'amount',
 'amout',
 'amozon',
 'amp',
 'ampl',
 'amplifi',
 'amus',
 'amz',
 'amzn',
 'amzon',
 'an3',
 'analog',
 'analysi',
 'anazon',
 'ancient',
 'and1st',
 'and7',
 'andci',
 'andespn',
 'andhav',
 'andi',
 'andl',
 'andmi',
 'andriod',
 'androd',
 'android',
 'android2',
 'androido',
 'androidtv',
 'andth',
 'anecdot',
 'angel',
 'angl',
 'angri',
 'angst',
 'ani',
 'anim',
 'anki',
 'anniversari',
 'annot',
 'announc',
 'announcedherself',
 'annoy',
 'annticap',
 'annual',
 'annuiti',
 'annunci',
 'anoid',
 'anonym',
 'anoth',
 'anotheron',
 'answ',
 'answear',
 'answer',
 'answeri',
 'ant',
 'antenna',
 'anth',
 'anther',
 'anti',
 'anticip',
 'antiglar',
 'antiqu',
 'antivirus',
 'antonio',
 'antonym',
 'anunci',
 'anwser',
 'anxieti',
 'anxious',
 'anybodi',
 'anyday',
 'anyhow',
 'anymor',
 'anymort',
 'anyon',
 'anyth',
 'anything6',
 'anytim',
 'anyway',
 'anywer',
 'anywh',
 'anywher',
 'anywhereview',
 'aol',
 'aosp',
 'ap',
 'apart',
 'aphob',
 'api',
 'apiec',
 'apk',
 'aplianc',
 'aplic',
 'apocalyps',
 'app',
 'appar',
 'apparatus',
 'appareil',
 'appeal',
 'appear',
 'appel',
 'appetit',
 'appl',
 'applaud',
 'appletv',
 'appli',
 'applianc',
 'applic',
 'applienc',
 'appoint',
 'apponto',
 'appproslight',
 'appreci',
 'apprehens',
 'approach',
 'appropri',
 'approv',
 'approx',
 'approxim',
 'apps2fir',
 'appsalexa',
 'appschild',
 'appscompat',
 'appscon',
 'appslov',
 'appstor',
 'appt',
 'apr',
 'apric',
 'april',
 'apron',
 'aprox',
 'apt',
 'aptitud',
 'aptoid',
 'aquir',
 'ar',
 'arbitrari',
 'arbitrarili',
 'arcad',
 'arch',
 'architect',
 'archiv',
 'arctic',
 'area',
 'areadi',
 'areal',
 'arena',
 'arent',
 'argu',
 'arguement',
 'argument',
 'aris',
 'arithmat',
 'arlo',
 'arm',
 'armi',
 'arnt',
 'aroud',
 'aroumd',
 'around',
 'arounnd',
 'arrang',
 'array',
 'arriv',
 'arrog',
 'arrow',
 'arsenal',
 'art',
 'arthrit',
 'arthriti',
 'articl',
 'articul',
 'artifici',
 'artist',
 'artistgreat',
 'arÃ©',
 'asap',
 'asesom',
 'asia',
 'asian',
 'asid',
 'ask',
 'askin',
 'asleep',
 'asmak',
 'aspect',
 'asperg',
 'asphalt',
 'asr',
 'ass',
 'assault',
 'assess',
 'asset',
 'assign',
 'assignmentsh',
 'assist',
 'assit',
 'assoc',
 'associ',
 'assort',
 'asstound',
 'assum',
 'assumpt',
 'assumwd',
 'assur',
 'astet',
 'astonish',
 'astound',
 'astronom',
 'asus',
 'aswel',
 'ata',
 'atari',
 'ate',
 'atlant',
 'atlas',
 'atleast',
 'atmo',
 'atsum',
 'att',
 'attach',
 'attack',
 'attatch',
 'attempt',
 'attend',
 'attent',
 'attest',
 'attic',
 'attir',
 'attitud',
 'attract',
 'attribut',
 'atv',
 'auction',
 'audibl',
 'audio',
 'audiobook',
 'audiophil',
 'auditori',
 'aug',
 'augment',
 'august',
 'auidobook',
 'aunt',
 'aura',
 'authent',
 'authom',
 'author',
 'autism',
 'autist',
 'auto',
 'autofil',
 'autofocus',
 'autom',
 'automat',
 'automaton',
 'automobil',
 'aux',
 'auxiliari',
 'av',
 'avai',
 'avaiail',
 'avaid',
 'avail',
 'availab',
 'availabilti',
 'availablea',
 'availablesar',
 'avali',
 'avarag',
 'ave',
 'avec',
 'avenu',
 'aver',
 'averag',
 'avi',
 'avid',
 'avoid',
 'avon',
 'avr',
 'avway',
 'aw',
 'awaesom',
 'await',
 'awak',
 'awar',
 'award',
 'away',
 'awe',
 'aweoms',
 'aweosm',
 'aweseom',
 'awesom',
 'awesomeno',
 'awesomeur',
 'awhil',
 'awil',
 'awkward',
 'awseom',
 'awsom',
 'awsomo',
 'awwsom',
 'awwwwwwww',
 'axcess',
 'ay',
 'ayer',
 'ayou',
 'azi',
 'azw',
 'azw3',
 'b004y1wcd',
 'b00oqvzdjm',
 'b01j2g4vbg',
 'b4',
 'babe',
 'babi',
 'babysit',
 'babysitt',
 'bach',
 'back',
 'backboard',
 'backgound',
 'background',
 'backlid',
 'backlight',
 'backlit',
 'backllit',
 'backloght',
 'backlot',
 'backord',
 'backpack',
 'backpight',
 'backpocket',
 'backseat',
 'backup',
 'backward',
 'backyard',
 'bad',
 'baffl',
 'bag',
 'baggag',
 'baggi',
 'bahama',
 'bake',
 'balanc',
 'balconi',
 'bald',
 'balki',
 'ball',
 'ballgam',
 'ballon',
 ...]

In [284]:
def get_keywords(vectorizer, feature_names, doc):
    """Return top k keywords from a doc using TF-IDF method"""

    #generate tf-idf for the given document
    tf_idf_vector = vectorizer.transform([doc])
    
    #sort the by descending order of scores
    sorted_items=sort_coo(tf_idf_vector.tocoo())

    #extract only TOP_K_KEYWORDS
    '''TOP_K_KEYWORDS=5'''

    keywords=extract_topn_from_vector(feature_names,sorted_items,5)
    
    return list(keywords.keys())


def sort_coo(coo_matrix):
    """Sort a dict with highest score"""
    tuples = zip(coo_matrix.col, coo_matrix.data)
    return sorted(tuples, key=lambda x: (x[1], x[0]), reverse=True)

def extract_topn_from_vector(feature_names, sorted_items, topn=10):
    """get the feature names and tf-idf score of top n items"""
    
    #use only topn items from vector
    sorted_items = sorted_items[:topn]

    score_vals = []
    feature_vals = []
    
    # word index and corresponding tf-idf score
    for idx, score in sorted_items:
        
        #keep track of feature name and its corresponding score
        score_vals.append(round(score, 3))
        feature_vals.append(feature_names[idx])

    #create a tuples of feature, score
    results= {}
    for idx in range(len(feature_vals)):
        results[feature_vals[idx]]=score_vals[idx]
    
    return results

' product far disappoint child love use like abil monitor control content see ea'

In [343]:
corpora_test=[]
corpora_test.append(corpora[0])
corpora_test.append(corpora[13999])
corpora_test.append(corpora[24000])
corpora_test.append(corpora[29999])
corpora_test.append(corpora[18999])
corpora_test.append(corpora[25999])
corpora_test.append(corpora[33989])

In [348]:
result = []
for doc in corpora_test:
    df_op = {}
    df_op['full_text'] = doc
    df_op['top_5_keywords'] = get_keywords(vectorizer, feature_names, doc)    
    result.append(df_op)
    
final = pd.DataFrame(result)

In [337]:
df.shape

(34660, 21)

0        AVqkIhwDv8e3D1O-lebb
13999    AVphgVaX1cnluZ0-DR74
24000    AVpfl8cLLJeJML43AE3S
29999    AV1YE_muvKc47QAVgpwE
18999    AV1YnRtnglJLPUi8IJmV
25999    AVpfl8cLLJeJML43AE3S
33989    AV1YE_muvKc47QAVgpwE
Name: id, dtype: object

In [347]:
# final['name']=df.iloc[[0,13999,24000,29999,18999,25999,33989],1]
# final['brand']=df.iloc[[0,13999,24000,29999,18999,25999,33989],3]
# final['categories']=df.iloc[[0,13999,24000,29999,18999,25999,33989],4]
# final['reviews_title']=df.iloc[[0,13999,24000,29999,18999,25999,33989],17]

In [349]:
final

,full_text,top_5_keywords
0,product far disappoint child love use like ab...,"[ea, monitor, disappoint, abil, content]"
1,nice tablet use often right size easi use,"[often, right, use, size, nice]"
2,buy two gift love them two alreadi,"[two, alreadi, gift, buy, love]"
3,great product purchas slingbox app last week ...,"[fix, week, work, affect, slingbox]"
4,yes use kindl read book especi like send docu...,"[prayer, eyeglass, kindl, pdfs, document]"
5,cool bummer power adapt cord broke think sell...,"[bummer, adapt, sell, broke, cord]"
6,realli enjoy select choic fro movi tv show pr...,"[fro, pace, season, select, view]"

In [352]:
final.to_csv('result.csv')

In [351]:
df.columns

Index(['id', 'name', 'asins', 'brand', 'categories', 'keys', 'manufacturer',
       'reviews.date', 'reviews.dateAdded', 'reviews.dateSeen',
       'reviews.didPurchase', 'reviews.doRecommend', 'reviews.id',
       'reviews.numHelpful', 'reviews.rating', 'reviews.sourceURLs',
       'reviews.text', 'reviews.title', 'reviews.userCity',
       'reviews.userProvince', 'reviews.username'],
      dtype='object')